<div id="wiki-wrapper" class="compare">
<div id="head">
  <h1>History for <strong>{{path}}</strong></h1>
</div>

{{#message}}
<p>{{message}}</p>
{{/message}}

<div id="compare-content">

  {{#show_revert}}
    <div class="clearfix">
        <a class="button left tiny" href="{{base_url}}/history/{{escaped_url_path}}">Back to Page History</a>
        {{#allow_editing}}
        <form name="gollum-revert" action="{{base_url}}/revert/{{escaped_url_path}}/{{before}}/{{after}}" method="post" id="gollum-revert-form">
        <a class="button left tiny gollum-revert-button space-left-s">Revert Changes</a>
        </form>
        {{/allow_editing}}
    </div>
  {{/show_revert}}

  <div class="data highlight">
    <table cellpadding="0" cellspacing="0">
      {{#lines}}
        <tr>
          <td class="line_numbers">{{ldln}}</td>
          <td class="line_numbers">{{rdln}}</td>
          <td>
            <pre><div class="{{class}}">{{line}}</div></pre>
          </td>
        </tr>
      {{/lines}}
    </table>
  </div>
</div>
<div id="footer">
  {{#show_revert}}
    <div class="clearfix">
        <a class="button left tiny" href="{{base_url}}/history/{{escaped_url_path}}">Back to Page History</a>
        {{#allow_editing}}
        <form name="gollum-revert" action="{{base_url}}/revert/{{escaped_url_path}}/{{before}}/{{after}}" method="post" id="gollum-revert-form">
        <a class="button left tiny gollum-revert-button space-left-s">Revert Changes</a>
        </form>
        {{/allow_editing}}
        <a class="button right tiny" href="#">Back to Top</a>
    </div>
  {{/show_revert}}
</div>
</div>
</div>
