<div id="gollum-editor" data-escaped-name="{{escaped_name}}" class="{{#is_create_page}}create{{/is_create_page}}{{#is_edit_page}}edit{{/is_edit_page}} {{#allow_uploads}}uploads-allowed{{/allow_uploads}}">
{{#is_create_page}}
<form name="gollum-editor" action="{{base_url}}/create" method="post">
{{/is_create_page}}
{{#is_edit_page}}
<form name="gollum-editor" action="{{base_url}}/edit/{{escaped_name}}" method="post">
{{/is_edit_page}}
  {{#is_create_page}}
  <div id="gollum-editor-title-field" class="singleline">
    <label for="page" class="jaws">Page Title</label>
    <input type="text" name="page" id="gollum-editor-page-title" value="{{page_name}}">
    {{#has_path}}
    <p class="path_note"><strong>NOTE:</strong> This page will be created within the &quot;<strong>{{path}}</strong>&quot; directory</p>
    {{/has_path}}
  </div>
  {{/is_create_page}}
  {{#is_edit_page}}
  <input type="hidden" name="page" id="gollum-editor-page-title" value="{{page_name}}">
  {{/is_edit_page}}
  <input type="hidden" name="path" id="gollum-editor-page-path" value="{{path}}">
  
    <textarea id="gollum-editor-body"
     data-markup-lang="markdown" name="content" class="mousetrap editor">{{content}}</textarea>

    {{#header}}
    <div id="gollum-editor-edit-header" class="collapsed">
      <h4>
        <a class="toggler"><i class="fa fa-arrows-alt"></i></a>
        Header
      </h4>
      <textarea id="gollum-editor-header" name="header" class="editor">{{header}}</textarea>
    </div>
    {{/header}}

    {{#footer}}
    <div id="gollum-editor-edit-footer" class="collapsed">
      <h4>
        Footer
        <a class="toggler"><i class="fa fa-arrows-alt"></i></a>
      </h4>
      <textarea id="gollum-editor-footer" name="footer" class="editor">{{footer}}</textarea>
    </div>
    {{/footer}}

    {{#sidebar}}
    <div id="gollum-editor-edit-sidebar" class="collapsed">
      <h4>
        <a class="toggler"><i class="fa fa-arrows-alt"></i></a>
        Sidebar
      </h4>
      <textarea id="gollum-editor-sidebar" name="sidebar" class="editor">{{sidebar}}</textarea>
    </div>
    {{/sidebar}}

    <div id="gollum-editor-edit-summary" class="singleline">
      <label for="message" class="jaws">Edit message:</label>
      {{#is_create_page}}
      <input type="text" name="message" id="gollum-editor-message-field" value="Created {{page_name}} ({{format}})">
      {{/is_create_page}}
      {{#is_edit_page}}
      <input type="text" name="message" id="gollum-editor-message-field" value="Updated {{page_name}} ({{format}})">
      {{/is_edit_page}}
    </div>

    <span class="jaws"><br></span>
    <input type="submit" id="gollum-editor-submit" class="button" value="Save" title="Save current changes">
    <a href="{{base_url}}/preview" id="gollum-editor-preview" class="button secondary" title="Preview this Page">Preview</a>
</form>
</div>

<link rel="stylesheet" href="/vendor/simplemde/dist/simplemde.min.css">
<script src="/vendor/simplemde/dist/simplemde.min.js"></script>

<script>
$(document).ready(function(){
   $(".editor").each(function() {
        (new SimpleMDE({
            element: this,
            status: false,
            toolbarTips: true,
            toolbarGuideIcon: true,
            autofocus: true,
            lineWrapping: true,
            indentWithTabs: false,
            tabSize: 4,
            spellChecker: false
        })).render();
    }) ;
});
</script>
