<div id="wiki-wrapper" class="history">
<div id="head">
  <h1>History for <strong>{{title}}</strong></h1>
</div>
<div id="wiki-history">
  
    <div class="clearfix">
        <a class="button tiny action-compare-revision">Compare Revisions</a>
    </div>

  <form name="compare-versions" id="version-form" method="post"
   action="{{base_url}}/compare/{{escaped_url_path}}">
  <table class="full-width">
    <thead>
        <tr>
            <th width="24"></th>
            <th>Comment</th>
            <th>Date</th>
            <th>Author</th>
        </tr>
    </thead>
    <tbody>

      {{#versions}}
      <tr>
        <td class="checkbox">
          <input type="checkbox" name="versions[]" value="{{id}}">
        </td>
        <td class="commit-name">
          <a href="{{base_url}}/{{escaped_url_path}}/{{id}}" title="View Version">{{message}}</a>
        </td>
        <td class="date">
            <span class="time-elapsed" title="{{date_full}}">{{date}}</span>
        </td>
        <td class="author">
            {{>author_template}}
        </td>
      </tr>
      {{/versions}}

    </tbody>
  </table>
  
    <div class="clearfix">
        <a class="button left tiny action-compare-revision">Compare Revisions</a>
        <a class="button right tiny action-back-to-top">Back to Top</a>
    </div>
  
  </form>
</div>

</div>
