<div id="wiki-wrapper" class="history">
<div id="head">
  <h1><strong>{{title}}</strong></h1>
  <p>&nbsp;</p>
</div>
<div id="wiki-history">

  <table class="full-width">
    <thead>
        <th>
            Page
        </th>
        <th>
            Comment
        </th>
        <th>
            Author
        </th>
        <th>
            Date
        </th>
    </thead>
    <tbody>

      {{#versions}}
      <tr>
        <td class="page">
            {{#files}}
                <a href="{{link}}">{{file}}</a>
            {{/files}}
        </td>
        <td class="commit-name">
            {{message}}
        </td>
        <td class="author">
            {{>author_template}}
        </td>
        <td class="date">
            <span class="time-elapsed" title="{{date_full}}">{{date}}</span>
        </td>
      </tr>
      {{/versions}}

    </tbody>
  </table>
</div>
</div>
