<script>
Mousetrap.bind(['e'], function( e ) {
  e.preventDefault();
  window.location = "/edit" + window.location.pathname;
  return false;
});
</script>

<div id="under-breadcrumb-actions">
    <small>
        {{#allow_editing}}
          <a id="delete-link" href="{{base_url}}/{{escaped_url_path}}" data-confirm="Are you sure you want to delete this page?"><span>Delete</span></a>
          
          {{#editable}}
            | 
            <a data-reveal-id="rename-page-dialog">Rename</a>
            <div id="rename-page-dialog" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
                {{>dialogs/rename}}
            </div>
          {{/editable}}
          {{#editable}}
            | 
            <a href="{{base_url}}/edit/{{escaped_url_path}}"
               class="action-edit-page">Edit</a>
          {{/editable}}
            |
        {{/allow_editing}}
        <a href="{{base_url}}/history/{{escaped_url_path}}"
           class="action-page-history">History</a>
    </small>
</div>

<div id="wiki-wrapper" class="page">
<div id="wiki-content">
<div class="{{#has_header}}has-header{{/has_header}}{{#has_footer}} has-footer{{/has_footer}}{{#has_sidebar}} has-sidebar has-{{bar_side}}bar{{/has_sidebar}}{{#has_toc}} has-toc{{/has_toc}}">
  {{#has_toc}}
  <div id="wiki-toc-main">
    {{{toc_content}}}
  </div>
  {{/has_toc}}
  <div id="wiki-body" class="gollum-{{format}}-content">
    {{#has_header}}
    <div id="wiki-header" class="gollum-{{header_format}}-content">
      <div id="header-content" class="markdown-body">
        {{{header_content}}}
      </div>
    </div>
    {{/has_header}}
    <div class="markdown-body">
      {{{content}}}
    </div>
  </div>
  {{#has_footer}}
  <div id="wiki-footer" class="gollum-{{footer_format}}-content">
    <div id="footer-content" class="markdown-body">
      {{{footer_content}}}
    </div>
  </div>
  {{/has_footer}}
  </div>

</div>
</div>

<form name="rename" method="POST" action="{{base_url}}/rename/{{escaped_url_path}}">
  <input type="hidden" name="rename"/>
  <input type="hidden" name="message"/>
</form>
