<div id="wiki-wrapper" class="results">
<div id="head">
  <h1>Search Results for <strong>{{query}}</strong></h1>
</div>
<div id="results">

{{#has_results}}

  <table class="full-width">
    <thead>
        <tr>
            <th>Name</th>
            <th>Matches</th>
        </tr>
    </thead>
    <tbody>

      {{#results}}
      <tr>
        <td class="name">
          <a href="{{base_url}}/{{name}}">{{name}}</a>
        </td>
        <td class="matches">{{count}} matches</td>
      </tr>
      {{/results}}

    </tbody>
  </table>
  
    <div class="clearfix">
        <a class="button right tiny action-back-to-top">Back to Top</a>
    </div>
{{/has_results}}

{{#no_results}}
  <p id="no-results">
    There are no results for your search <strong>{{query}}</strong>.
  </p>
{{/no_results}}

</div>
</div>

